@font-face {
    font-family: 'Caviar Dreams';
    src: url('../assets/fonts/CaviarDreams.ttf');
}

.logo-bonfins {
    height: 12vh;
}

.carousel-img {
    height: 85.95vh !important;
}

.carousel-control {
    background-color: rgba(126, 122, 122, 0.2);
    width: 8vw;
}

.carousel-control:hover {
    background-color: rgba(54, 54, 54, 0.7);
}

#about {
    padding: 0 !important;
    font-family: 'Caviar Dreams';
}

.bonfins-brown {
    background-color: rgb(114, 46, 0) !important;
}

a {
    margin: 0px 20px;
    font-size: 14px;
}

nav {
    padding: 0;
    background-color: rgb(214, 97, 18);
    font-family: 'Caviar Dreams';
}

nav li {
    border-left: 0;
}

.right-height {
    height: 50vw !important
}

nav li a {
    display: block;
    color: rgb(255, 255, 255) !important;
    font-size: 1.2rem;
    border-left: 0;
}

nav li a:hover {
    cursor: pointer;
    color: rgb(37, 37, 37) !important;
}

p {
    text-align: justify;
    color: azure;
    font-size: 1.2rem
}

h2 {
    font-weight: 500;
    color: azure;
    font-size: 2rem
}

#footer {
    background-color: rgb(214, 97, 18);
    color: rgb(255, 255, 255);
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#prlx1 {
    background-image: url("../assets/images/casa15.png");
    height: 300px;
    opacity: 0.65;
}

::-webkit-scrollbar {
    background-color: rgb(54, 53, 53);
    width: 1.5vh;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(214, 97, 18);
    ;
}