@font-face {
    font-family: 'Caviar Dreams';
    src: url('../assets/fonts/CaviarDreams.ttf');
}

body {
    background: gray;
    height: 96vh;
}

.card {
    border: none;
}

.logo-bonfins {
    height: 12vh;
    margin-left: 20px;
}

a {
    font-size: 30px;
}

nav {
    padding: 0;
    background-color: rgb(214, 97, 18);
    font-family: 'Caviar Dreams';
}

nav li {
    border-left: 0;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255) !important;
    font-size: 1.3rem;
    border-left: 0;
    text-align: center;
}

nav li a:hover {
    cursor: pointer;
    color: rgb(37, 37, 37) !important;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

#bemVindoContainer {
    padding: 20px;
    background-color: #f1f1f1 !important;
    min-height: 82.3vh;
}

.jumbotron {
    background-color: inherit !important;
}

footer {
    padding: 20px;
    background-color: rgb(41, 40, 40);
    color: white;
}