@font-face {
    font-family: 'Caviar Dreams';
    src: url('../../assets/fonts/CaviarDreams.ttf');
}

body {
    background: rgb(41, 40, 40);
    height: 96vh;
}

.logo-bonfins {
    height: 12vh;
    margin-left: 20px;
}

a {
    font-size: 30px;
}

nav {
    padding: 0;
    background-color: rgb(214, 97, 18);
    font-family: 'Caviar Dreams';
}

nav li {
    border-left: 0;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    border-left: 0;
    text-align: center;
}

nav li a:hover {
    cursor: pointer;
    color: rgb(37, 37, 37);
    text-decoration: none;
}

#admContainer {
    padding: 20px;
    padding-top: 0;
    background-color: #f1f1f1;
    min-height: 82.3vh;
}

.jumbotron {
    background-color: inherit !important;
    font-family: 'Caviar Dreams' !important;
}

.jumbotron h1 {
    font-size: 5rem;
}

.jumbotron .lead {
    font-size: 1.7rem;
}

.jumbotron p {
    font-size: 1.3rem;
}

footer {
    padding: 20px;
    background-color: rgb(41, 40, 40);
    color: white;
}

::-webkit-scrollbar {
    background-color: rgb(54, 53, 53);
    width: 1.5vh;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(214, 97, 18);
    ;
}

@media (min-width: 1470px) {
    nav li a {
        margin-right: 1.5rem !important;
    }
}

@media (max-width: 550px) {
    .jumbotron h1 {
        font-size: 2.5rem;
    }
}

.hidden {
    display: none;
}